<!-- Using index.ejs file to compose html file via ejs engine  -->
<%- include partials/header.ejs%>

<!-- Main Nav bar -->
<%- include partials/main_nav.ejs %>




<!--  MAIN CONTENT -->

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-6">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Contact Name</th>
                    <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-1">Email Address</th>
                    
                </tr>

                                <!-- Repeatable Template Row -->
                                <% for(let count = 0; count < ContactList.length; count++) { %>
                                    <tr class="d-flex">
                                        <td class="text-center col-2"><%= ContactList[count].name %></td>
                                        <td class="text-center col-2"><%= ContactList[count].number %></td>
                                        <td class="text-center col-1"><%= ContactList[count].email %></td>
                                        
                                    </tr>
                                <% } %>
            </table>
        </div>
    </div>
</main>
 
<!-- Javascript Section -->
<%- include partials/bottom_nav.ejs%>


<%- include partials/footer.ejs%>






