<!-- Using index.ejs file to compose html file via ejs engine  -->
<%- include ../partials/header.ejs%>

<!-- Main Nav bar -->
<%- include ../partials/main_nav.ejs %>




<!--  MAIN CONTENT -->

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-9">
            <h1><%= title %></h1>
            <a href="/contact-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a Contact</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Contact Name</th>
                    <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-3">Email Address</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
               
                </tr>

                                <!-- Repeatable Template Row -->
                                <% for(let count = 0; count < ContactList.length; count++) { %>
                                    <tr class="d-flex">
                                        <td class="text-center col-2"><%= ContactList[count].contact_name %></td>
                                        <td class="text-center col-2"><%= ContactList[count].contact_number %></td>
                                        <td class="text-center col-3"><%= ContactList[count].email_address %></td>
                                        <td class="text-center col-2">
                                            <a href="/book-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                                                <i class="fas fa-pencil-alt"></i> Update</a>
                                        </td>
                                        <td class="text-center col-2">
                                            <a href="/book-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt"></i> Delete</a>
                                        </td>
                                    </tr>
                                <% } %>
            </table>
        </div>
    </div>
</main>
 
<!-- Javascript Section -->
<%- include ../partials/bottom_nav.ejs%>


<%- include ../partials/footer.ejs%>






